---
title: Dynatrace Appmon Tile
owner: Principal Technical Program Manager?
---

Dynatrace Appmon Tile
Dynatrace Appmon enables in-depth monitoring of application and its performance via its agent embedded or bundled with the application. The agent instruments the application code and publishes performance monitoring metrics and other details back to Dynatrace Appmon dashboards. 

<% image_tag 'appmon-add-service-broker' %>

## Dynatrace Appmon Service Broker
	


A Service Broker allows Cloud Foundry applications to bind to services and consume the services easily from App Manager UI or command line. The Dynatrace Appmon Service Broker exposes the Dynatrace Appmon service on the Cloud Foundry Marketplace and allows users to directly create a service instance and bind it to their applications either from the Pivotal Apps Manager Console or from the command line. The Broker is deployed as a Java Application on Cloud Foundry. 



PCF (Pivotal Cloud Foundry) Tile for Dynatrace Appmon installs the Dynatrace Appmon Service Broker as an application and registers it as a Service Broker on Cloud Foundry and exposes its service plan on the Marketplace. This makes the installation and subsequent use of Dynatrace Appmon on your Cloud Foundry applications simple and easy, allowing end to end monitoring of applications running on Cloud Foundry. 




## Trial License
	
Users interested in Dynatrace Appmon can sign up for a 


	<a" href="https://www.google.com/url?q=http://www.dynatrace.com/en/products/dynatrace-free-trial.html&amp;sa=D&amp;ust=1461103573168000&amp;usg=AFQjCNFumSJyBllyNJCTCwKy9cIOu_JcDw">free trial license here</a>
	Product Snapshot
Current Dynatrace Appmon Tile for Pivotal Cloud Foundry Details
Version: 1.0
Release Date: 

2016-04-&lt;Date&gt;
Software components versions: Dynatrace Appmon Service Broker 1.0
Compatible Ops Manager Version(s): 1.6.x, 1.7
Compatible Elastic Runtime Version(s): 1.4.x, 1.5.x, 1.6.x, 1.7.x
<li>
Compatible Dynatrace Appmon Controller Version(s): 

6.3.x
<li>
vSphere support? Yes
<li>
AWS support? Yes


	


## Upgrading to the Latest Version
	

Not applicable.


## Install via Pivotal Ops Manager
	
	Download the product file from 	<a" href="https://www.google.com/url?q=https://network.pivotal.io/&amp;sa=D&amp;ust=1461103573176000&amp;usg=AFQjCNE7hyTShiR78ewkDrNEuV7H2f5EgQ">Pivotal Network</a>
    Upload the product file to your Ops Manager installation.
	Click 
	9">Add next to the uploaded product description in the Ops Manager 
					>Available Products 
				view to add this product to your staging area.
			Click the newly added tile to review any configurable options.
			Click 0">Apply Changes
			to install the service.</ol>
## Configuring the Dynatrace Appmon Tile
		Login into Pivotal Ops Manager </ol>
					Click on &ldquo;Import a Product&rdquo; and import the Dynatrace Appmon Tile</ol>
								Select the Dynatrace Appmon Tile on the left handle panel under Available Products</ol>
							Click Add on the Dynatrace Appmon 
							Tile</ol>
							Select the Dynatrace Appmon tile</ol>
<% image_tag 'appmon-select-tile' %>
			Configure the Availability Zone</ol>
<% image_tag 'appmon-assign-networks' %>
			Configure the Dynamic Service Plans</ol>
<% image_tag 'appmon-service-broker' %>
		Click &ldquo;Add&rdquo; button on the extreme right against Dynamic Service Plans</ol>
						
<% image_tag 'appmon-config-service-plan' %>

<li>

		Enable Global Service Access checkbox for the services to be accessible to all users in Marketplace.

<% image_tag 'appmon-config-service-access' %>

	<li>

			Save configurations.

<% image_tag 'appmon-select-tile' %>

	<li>
			Apply Changes.</ol>

						On completion of Dynatrace Appmon Tile install, check Services Marketplace in Apps Manager</ol>
							
<% image_tag 'appmon-in-marketplace' %>

	<li>
			View Dynatrace Appmon Service Plan</ol>
			
<% image_tag 'appmon-service-' %>


				<li>
						Bind the Dynatrace Appmon Service to an Application</ol>

<% image_tag 'appmon-service-' %>

	<li>
			Check the application&#39;s logs using cf logs command check for dynatrace Appmon agent getting invoked.</ol>
			<p" <% image_tag 'appmon-log' %>
<img alt="" appmon-log2.png">


	<li>

			Login into Dynatrace Appmon to view monitoring data.</ol>


	Figure 16.1: Dynatrace Host Tile view
	
<% image_tag 'appmon-host-view' %>


	Figure 16.2: Dynatrace Java Process Health
	
<% image_tag 'appmon-java-health' %>


	Figure 16.3: Dynatrace Pure Paths view
	

<% image_tag 'appmon-pure-paths' %>


		Figure 16.4: Dynatrace Response Time hotspots
		
<% image_tag 'appmon-response-hotspots' %>


	Figure 16.5: Dynatrace Web Request overview


<% image_tag 'appmon-web-request' %>

	Figure 16.6: Dynatrace Transaction Flow
	
<% image_tag 'appmon-transaction-flow' %>

	Figure 17: Dynatrace Database Dashlet
	
<% image_tag 'appmon-db-dashlet' %>

## What if customer is using HTTP Proxy?

	If a customer is using http(s) proxy, it should not affect the Service Broker or the agent. The agents talk to the Dynatrace Appmon Collector over non-HTTP protocol and hence does not go over a http proxy.
	
## Application Security Groups?
	
	Open up application security group to allow outbound communication from the agents embedded with application instances to the remote Dynatrace servers. This would be required for runtime (use cf bind-running-security-group option). 
	
## Packaging Dependencies for Online Buildpacks
	
			The Java Buildpack or other language buildpacks should have their proxy configuration enabled to download the agents if using online buildpacks. Offline buildpacks discussed below should not have this issue.

## Packaging Dependencies for Offline Buildpacks
	
<li>
If you are running PCF in an offline manner, you will want to be sure you have packaged the dependencies (including the Dynatrace Appmon agent sources) in your PCF environment.  

More details on this can be found here: 

	<a href="https://docs.run.pivotal.io/buildpacks/depend-pkg-offline.html"></a>

<li>
Also, refer to next section on limitations around Buildpacks.

## 	What are the limitations?

		<li>
				Currently supported Buildpacks bundling Dynatrace Appmon Agent are the Java and PHP Buildpacks. 

					Java Buildpack April 8, 2016 build commit # bed4c6137c7bf08c09813a4b5b33eed0d3eaee46 upwards

							Use the latest online Java buildpack (use -b 

								<a" href="https://github.com/cloudfoundry/java-buildpack</a>

							or specify via manifest) when pushing apps.

							Create offline Java buildpack from latest github repository ( 

						<a" href="https://github.com/cloudfoundry/java-buildpack"></a>

					and upload it to PCF.

				PHP Buildpack 4.0+
				<li>

						Node.js Buildpack 1.5+ utilizing node engines 0.10.x and 0.12.x via agent bundling documented here: 

						<a href="https://community.dynatrace.com/community/x/DafhCw"></a>
						<li>

						Similar support would be built for other language buildpacks in future releases. 
						
	Feedback

	Please provide any bugs, feature requests, or questions to 

		>the Pivotal Cloud Foundry Feedback list

	Version
	
This product has been tested against Dynatrace Appmon APM 
version:

6.3.0

Pivotal Internal Use Only
