---
title: Dynatrace AppMon FAQ
---

<strong><%= modified_date %></strong>

## <a id="asg"></a> How do I Configure Application Security Groups To Allow Outbound Traffic From AppMon Agents?

Applications on Cloud Foundry use Application Security Groups (ASGs) to restrict outbound communication. The ASG for AppMon-monitored applications must permit messages to the remote Dynatrace servers. Configure the ASG from the command line with `cf bind-running-security-group`. See the topic [Application Security Groups](../adminguide/app-sec-groups.html) for details.

## <a id="http"></a> What If I Use HTTP Proxy?

Don't worry! If you are using HTTP(S) proxy, it should not affect the operation of Dynatrace AppMon. The agents communicate with the Dynatrace Appmon Collector over non-HTTP protocol which does not use HTTP proxy.

