---
title: Dynatrace Service Broker for Pivotal Cloud Foundry
owner: Partners
---

<strong><%= modified_date %></strong>

This documentation describes the Dynatrace Service Broker tile for Pivotal Cloud Foundry (PCF). The Dynatrace Service Broker integrates two application monitoring solutions into your deployment: Dynatrace AppMon and Dynatrace Ruxit.

## <a id="overview"></a>Overview

The Dynatrace Service Broker tile installs the following services:

* **AppMon** enables in-depth monitoring of applications running on PCF, through an embedded agent bundled with applications that are deployed using buildpacks. The service agent instruments the application by adding tracing and monitoring hooks to the code, then continuously sends the resulting data to AppMon account collectors. The AppMon account draws from this data to publish performance metrics and other details on the dashboards of the Dynatrace AppMon Client Application. The Dynatrace Service Broker installs the Dynatrace AppMon Service Broker as a Java application, registers it as a service broker on PCF, and exposes its service plans on the Marketplace. This simplifies the integration of Dynatrace AppMon services with Cloud Foundry applications.
* **Ruxit** is an application performance monitoring solution for PCF applications. The Dynatrace Service Broker registers a service broker on PCF and exposes its service plans on the Marketplace. You can bind your apps to the Dynatrace Ruxit service and monitor them in your Ruxit environment. Ruxit detects clustered apps and provides visibility into their transaction flows, from the user level to the database and code level. Ruxit also creates and adapts real-time dependency graphs of all your pushed apps and connected databases. If Ruxit detects an anomaly in your environment, it directs you to the root cause with these dependency graphs and the data it collects. 

## <a id="product-snapshot"></a> Product Snapshot

<dl>
<dt>Current Dynatrace Service Broker for Pivotal Cloud Foundry Details</dt>
<dd><strong>Version</strong>: VERSION-NUMBER</dd>
<dd><strong>Release Date</strong>: RELEASE-DATE</dd>
<dd><strong>Software components versions</strong>: Dynatrace Service Broker VERSION-NUMBER</dd>
<dd><strong>Compatible Ops Manager Version(s)</strong>: </dd>
<dd><strong>Compatible Elastic Runtime Version(s)</strong>: </dd>
<dd><strong>AWS support?</strong> <dd>
<dd><strong>vSphere support?</strong> </dd>
<dd><strong>OpenStack support?</strong> </dd>
</dl>

## <a class="upgrading"></a> Upgrading

INCLUDE ANY UPGRADING INFORMATION HERE.

## <a id="trial-license"></a> Trial License

INCLUDE ANY TRIAL INFORMATION HERE.

## <a id="dependencies"></a> Packaging Dependencies

INCLUDE ANY DEPENDENCIES INFORMATION HERE (ONLINE BUILDPACKS, OFFLINE BUILDPACKS, BUILDPACK LIMITATIONS, ETC)

## <a id="feedback"></a> Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback list](mailto:pivotal-cf-feedback@pivotal.io)
