---
title: Release Notes for Dynatrace Service Broker for PCF
owner: Partners
---

These are release notes for Dynatrace Service Broker for PCF.

##<a id="ver"></a> v1.4.1

**Release Date:** April 10, 2019

Features included in this release:

* Changed type of 'skiperrors' flag in buildpack integrations

##<a id="ver"></a> v1.4.0

**Release Date:** April 2, 2019

Features included in this release:

* Added option to configure 'skiperrors' flag in buildpack integrations

##<a id="ver"></a> v1.3.0

**Release Date:** February 11, 2019

Features included in this release:

* Updated to support Xenial stemcells

##<a id="ver"></a> v1.2.5

**Release Date:** February 2, 2018

Features included in this release:

* Ensured APIURL was properly defined as an optional field in Dynatrace Service Broker
* Added JsonIgnoreProperties to ignore unknown fields in Dynatrace AppMon service broker


##<a id="ver"></a> v1.2.3

**Release Date:** October 19, 2017

Features included in this release:

* Maintenance release that covers changed memory optimization settings from the Java buildpack utilized for deploying the Dynatrace Service Broker


##<a id="ver"></a> v1.2.2

**Release Date:** May 10, 2017

Features included in this release:

* CVE-2017-4975 fix (regenerated tile with tile-generator v6)
* Changed field labels
* Includes 1.8 metadata to support environments with multiple subnets

Fixed issues in this release:

* CVE-2017-4975 fix


##<a id="ver"></a> v1.2.1

**Release Date:** April 26, 2017

Features included in this release:

* Updated tile to include PCF OpsManager 1.8 metadata to support environments with multiple subnets

Known issues in this release:

* CVE-2017-4975


##<a id="ver"></a> v1.2.0

**Release Date:** December 7, 2016

Features included in this release:

* Introduced API URL for Dynatrace SaaS/Managed plans
* Removed deprecated fields (tenanttoken and endpoint) from Dynatrace SaaS/Managed plans


##<a id="ver"></a> v1.1.0

**Release Date:** October 10, 2016

Features included in this release:

* Merged the Dynatrace SaaS/Managed (formerly Ruxit) Service Broker and the Dynatrace AppMon Service Brokers into one tile


##<a id="ver"></a> v1.0

**Release Date:** May 20, 2016

Features included in this release:

* A service broker to connect Dynatrace Application Monitoring with Pivotal Cloud Foundry

##<a id="ver"></a> v1.0 BETA

**Release Date:** April 25, 2016

Features included in this release:

* Initial BETA release
