---
title: Using Dynatrace SaaS/Managed
owner: Partners
---

<strong><%= modified_date %></strong>

## <a id="overview"></a> Overview
Dynatrace detects clustered apps and provides visibility into their transaction flows, from the user level to the database and code level. Dynatrace also creates and adapts real-time dependency graphs of all your pushed apps and connected databases. If Dynatrace detects an anomaly in your environment, it directs you to the root cause with these dependency graphs and the data it collects.

The following list describes the key features of Dynatrace:
<ul>
<li><strong>AI Powered:</strong> Dynatrace Artificial Intelligence locates performance issues and pinpoints underlying root causes in real time.</li>
<li><strong>Analytical:</strong> Dynatrace gives you operational insight and the ability to oversee and manage web-scale applications.</li>
<li><strong>Self learning:</strong> Dynatrace learns your environment and understands the complexity of your distributed applications.</li>
<li><strong>Provides SaaS convenience with data on-prem:</strong> Dynatrace is available as a SaaS offering, but also as a managed solution on your own infrastructure.</li>
</ul>

See the Dynatrace website for more details about [Dynatrace](https://www.dynatrace.com/ "Dynatrace").

## <a id="views"></a>Dynatrace Data Views

Dynatrace offers multiple views for application and deployment data, including the following:

* Common metrics for a service, such as response time and failure rate

	![alt-text=""](./images/common-metrics.png)

* Real time model of a request flow through your services

	![alt-text=""](./images/real-time-model.png)

* Detailed response time contribution breakdown for service methods

	![alt-text=""](./images/detailed-response-dashboard.png)

* Detailed waterfall performance breakdown for webpages

	![alt-text=""](./images/waterfall-analytics.png)

* Java managed memory metrics

	![alt-text=""](./images/appmon-db-dashlet.pngjava-managed-memory.png)

* Detailed CPU consumption break-down per process

	![alt-text=""](./images/cpu-consumption.png)
